body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*-----------------------------------------------Componente NavBar*/
.navbar .nav-link {
  font-size: 20px;
}

.navOpciones {
  width: 40%;
  display: flex;
  justify-content: space-around;
}


/*-----------------------------------------------Componente ItemListContainer*/
.itemListContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/*-----------------------------------------------Componente item*/
.listBookCard {
  width: 15rem;
}

.listBookCard .containerImg {
  height: 250px;
  width: 100%;
  margin-top: 0.2rem;
}

.listBookCard .containerImg .img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*-----------------------------------------------ItemDetailContainer component*/
.itemDetailContainer .titleDetailBook {
  text-align: center;
  margin-bottom: 1rem;
}

/*----------------------------------------------ItemDetail conponent*/
.itemDetailContainer .containerImg {
  margin-top: 1.5rem;
  height: 25rem;
  width: 100%;
}

.itemDetailContainer .containerImg .img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.itemDetailContainer .bookPrice h4,
.itemDetailContainer .bookStock h4 {
  display: inline-block;
}

/*---------------------------------------------Counter component*/
.counterContainer {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.counterContainer li {
  list-style: none;
}

.decrementButton i,
.incrementButton i {
  font-size: 25px;
}

.counterContainer .order p {
  font-size: 20px;
}

.counterContainer .cartButton {
  font-size: 20px;
}

/*----------------------------------------------CartListContainer component*/

.cartListContainerFooter,
.cartEmptyListContainer {
  margin-top: 1.5rem;
}


.cartListContainerFooter {
  display: flex;
  justify-content: space-between;
}

.cartEmptyListContainer .fa-arrow-left {
  margin-right: 5px;
}

/*----------------------------------------------Modal component*/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.isOpen {
  display: flex;
}

.modalContainer {
  position: relative;
  min-width: 50rem;
  max-width: 50rem;
  height: auto;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 1%;
}

.modalHeader {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.267);
  margin-bottom: 1rem;
}

/*---------------------------------------------Notification component*/
.Success {
  border-left-color: rgb(55, 187, 55);
  background-color: rgb(146, 247, 146);
}

.Error {
  border-left-color: red;
  background-color: rgb(247, 113, 113); 
}

.notificationContainer {
  position: absolute;
  top: 100px;
  right: 5px;
  width: auto;
  border-left-style: solid;
  border-radius: 0.5rem;
  border-left-width: 10px;
  padding-left: 0.5rem;
}

.notificationHeader{
  border-bottom-style:solid;
  border-bottom-width: 0.3px;
  border-bottom-color: rgb(185, 179, 179);
}

/*---------------------------------------------input component*/

.inputErrorMessage{
  color: rgb(214, 64, 64);
}

.inputLabel{
  font-size: 1.2rem;
  font-weight: 500;
}